.e-product-list {
    width: 100%;
    .e-product-full {
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 10px;
        .e-product-wr {
            display: flex;
            position: relative;
            overflow: hidden;
            border: 1px solid transparent;
            margin-bottom: 30px;
            border-radius: 0px;
            background-color: #fff;
        }
    }
}
.e-product-left {
    width: 33%;
    .e-product-image {
        position: relative;
        max-height: 300px;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            display: inline-block;
            position: relative;
            width: auto;
            .e-image-wr {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 10px 0;
                img {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                }
            }
        }
    }
}
.e-product-rigth {
    width: 66%;
    padding-right: 15px;
    padding-left: 15px;
    .e-product-description {
        padding-top: 25px;
        padding-bottom: 25px;
        .e-product-title {
            margin-bottom: 10px;
        }
        .e-product-price {
            margin-bottom: 20px;
            span {
                color: #554545;
                font-size: 16px;
                line-height: 1;
                font-weight: 500;
                display: inline-block;
            }
        }
        .e-product-description-short {
            line-height: 25px;
            margin-bottom: 15px;
            max-height: 200px;
            overflow: hidden;
            text-align: justify;
        }
        .e-product-actions {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
            }
            .e-product-add {
                height: 40px;
                width: 40px;
                border: none;
                color: #fff;
                padding: 0;
                margin-right: 10px;
                font-size: 18px;
                line-height: 40px;
                transition: all 300ms ease;
                position: relative;
                display: block;
                text-align: center;
                border-radius: 50%;
                background-color: #222;
                cursor: pointer;
            }
        }
    }
}