.e-header-logo {
    position: relative;
    width: 25%;
}
.e-header-logo .e-search {
    padding-right: 15px;
    padding-left: 15px;
}
.e-header-logo .logo {
    display: inline-block;
    max-width: 160px;
}
.e-search {
    display: inline-block;
    width: 50%;
}
.e-cart-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 5px;
    width: 25%;
}