.e-small-cart {
    display: flex;
    align-items: center;
    width: 25%;
    height: 100px;
}
.e-cart {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    color: #222;
    height: 44px;
    cursor: pointer;
    position: relative;

}
.e-cart-count {
    position: absolute;
    top: 0px;
    border: 1px solid red;
    border-radius: 50%;
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;

}
.e-cart-count span {
    color: white;
}
.e-cart-title {
    font-size: 25px;
}